---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

    <style>
       html {
        scroll-behavior: smooth;
            }
        
    </style>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" >
      $(document).on('click', 'a[href^="#"]', function (event) {
        event.preventDefault();
    
        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 500);
      });
    </script>



<BaseLayout title = "CV - David Lopez Rodriguez">
  <!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-T3S8LY51Z2"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T3S8LY51Z2');
</script>
<div style="text-align:center">
    <nav style="background:#F2F7FF;">
    <a>  |  </a> 
      <a href="#section1" class="mb-5 text-justify"><b>Profile</b></a> <a>  |  </a> 
      <a href="#section3"><b>Employment History</b></a>    <a>  |  </a> 
      <a href="#section4"><b>Education</b></a>    <a>  |  </a> 
      <a href="#section7"><b>Continuous Education</b></a>    <a>  |  </a> 
      <a href="#section6"><b>Awards, Grants and Fellowships</b></a>    <a>  |  </a> 
    </nav>
    <nav style="background:#F2F7FF;"><a>  |  </a>
      <a href="#section5"><b>Teaching Experience</b></a>    <a>  |  </a> 
      <a href="#section9b"><b>Master supervisions</b></a>    <a>   |  </a> 
      <a href="#section8"><b>Participation in Conferences</b></a>    <a>  |  </a> 
      <a href="#section10"><b>Active Membership</b></a>    <a>  |  </a> 
      <a href="#section9"><b>Peer-reviewing</b></a>    <a>   |  </a> 

    </nav>
    <nav style="background:#F2F7FF;"><a>  |  </a>
      <a href="#section11"><b>Language Skills</b></a>    <a>  |  </a> 
      <a href="#section7b"><b>Internships</b></a>    <a>  |  </a> 
      <a href="#section12"><b>Certifications  </b></a>    <a>  |  </a>
    </nav>

</div>
    <div style="line-height:60%;"> <br></div>
    <hr> 
    <div style="line-height:160%;"> <br></div>
    






   <section id="section1"></section>
  <div class="mb-5"><div class="text-3xl w-full font-bold">Profile <hr> </div></div>
 
  <div class="mb-5 text-justify">
  
  Senior multidisciplinary and outcome-oriented scientist passionate about computational biology, 
  translational medicine and public health, with expertise in multiomics analysis and in-silico modeling.
  My main objective is to develop computational tools that can make a valuable contribution to public health and society. 
  <br>
  <br>
   &nbsp;&nbsp;&nbsp;&nbsp;-	<b>Experienced Researcher & Communicator</b>
   <div style="margin-left: 2em;">
    Translational scientist with more than 8 years of success leading multi-disciplinary, cross-functional internal and external collaborations. Proven track record in data science, project management, scientific communication, teaching and high-impact publications (i.e. <i>Nature Communications, Nature Reviews Endocrinology</i> ).    Effective communicator, strategic and innovative thinker. Skilled at creating clear and accessible visualizations for non-specialists and the general public.

  </div>
   <br>
   &nbsp;&nbsp;&nbsp;&nbsp; -	<b>Project Management</b>
   <div style="margin-left: 2em;">
    Strong experience in planning, organizing, and executing multi-omics research in the fields of toxicology, translational medicine, and neuroscience. Development of scientific strategies, conception and execution of experiments and analysis, budget/timeline accountability, writing of scientific publications and grants, efficient communication to a broad audience, internal and external cross-functional collaborations.
  </div>
   <br>
   &nbsp;&nbsp;&nbsp;&nbsp;  - <b>Collaborative Spirit</b>
  <div style="margin-left: 2em;">
    Team and project leadership in a fast-paced multi-disciplinary environment, scientific management and mentoring. Demonstrated ability to build and lead productive teams, complete project deliverables on time and within budget.
  </div>
    <br>
   &nbsp;&nbsp;&nbsp;&nbsp; -	<b>Computational biology</b>
   <div style="margin-left: 2em;">
     R and Python programming for processing, analyzing and visualizing large datasets and omics data. Advanced statistical analysis of complex high-content datasets (i.e. mixed-effect model, correlation network, hierarchical clustering, joint pathway enrichment analysis), multi-omics integration (transcriptomics, proteomics, metabolomics, lipidomics) and machine learning (i.e. extreme gradient boosting).
   </div>
  
  </div>

<br>
        <section id="section3"></section>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Employment History <hr>  </div>
  </div>
 
 
 <div class="time-line-container mb-10">
      <TimeLineElement
      title="Bioinformatician Freelancer"
      subtitle="01/2023-Today as Independent Consultant"
      desc="Hands-on training in biological and omics data analysis, along with providing computational solutions for researchers in academia and healthcare"
    />
    <br>
    <TimeLineElement
    title="Bioinformatician / Senior Researcher"
    subtitle="02/2025-Today at the Department Environmental Toxicology, Eawag / ETHZ, Prof. Colette Von Berg’s team (20%)"
    desc="Leveraging multi-omic datasets to identify early biomarkers of pharmaceutical and food-contact chemical exposure in zebrafish"
    />
    <br>
    <TimeLineElement
    title="Bioinformatician / Postdoctoral Fellow"
    subtitle="10/2021-Today at University of Lausanne, Prof.Fanny Langlet’s Team (80%)"
    desc="Development of HPC workflows for analyzing large scRNAseq datasets with over 200K cells, resulting in the creation of novel methods for functional cell-cell communication and user-friendly tools for non-IT experts"
    />
    <br>
    <TimeLineElement
    title="Data Scientist / Scientific Collaborator"
    subtitle="09/2023-Today at University of Lausanne, Prof. Nathalie Chèvre’s Team"
    desc="Leading the development of an innovative predictive machine learning approach to identify chemicals displaying endocrine-disrupting activity"
    />
    <br>
    <TimeLineElement
    title="Bioinformatician / Postdoctoral Fellow"
    subtitle="01-12/2024 at University of Lausanne & SCAHT, Dr. MG Zurich’s Team (50%)"
    desc="Multiomic analysis (transcriptomics, proteomics, metabolomics, lipidomics) to identify chemical exposures biomarkers using an in vitro brain 3D hIPSC model"
    />
    <br>
    <TimeLineElement
    title="Project Coordinator & Freelancer"
    subtitle="01-12/2024 at Environmental Science & Research Consulting GmBH"
    desc="Project Coordinator of the epidemiological study PESSAP and contribution to data management & analysis"
    />
    <br>
    <TimeLineElement
    title="EFSA - Scientific and Technical Support Panel"
    subtitle="From 2023 to 2027"
    desc="European Food & Safety Authority (EFSA). 5-year mandate as scientific and technical support"
  />
  <br>
    <TimeLineElement
    title="Bioinformatician / Postdoctoral Fellow"
    subtitle="10/2020-10/2021 at University of Liège (Belgium)"
    desc="Analysis of complex transcriptomic data designs to decipher the impact of pesticides and pharmaceuticals on the neuroendocrine  control of reproduction"
    />
  </div>

      <section id="section4"></section>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education <hr> </div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
      title="Master of Advanced Studies (MAS) in Toxicology"
      subtitle="2023-2025 at University of Geneva (UNIGE), Switzerland"
      desc="Modules: Organ Toxicology, Regulatory Toxicology, Clinic Toxicology & Ecotoxicology"
    />
    <TimeLineElement
    title="Postgraduate Education in Toxicology (PET)"
    subtitle="2024-Today at Utrecht University, The Netherlands"
    desc="Courses: General Toxicology, Food Toxicology, Carcinogenesis/Mutagenesis"
  />
    <TimeLineElement
      title="PhD in Biomedical Sciences"
      subtitle= "2016 to 2020 at University of Liege (ULIEGE), Belgium" 
       desc="Visiting Scholar (2018 & 2020, 6 months) at Oregon Health & Science University (OHSU), Portland, USA"
    />
    <TimeLineElement
      title="M.Sc. in Experimental Neuroscience"
      subtitle="2013 to 2015 at University of Liege (ULIEGE), Belgium"
    />

  </div>

  <section id="section7"></section>
  <div class="mb-5"> <div class="text-3xl w-full font-bold">Continuous Education <hr> </div>  </div> 
<ul class="list-disc mx-6 mb-10 grid gap-2">   

<b> Data Science / Bioinformatics:</b>
<li> <a target="_blank">Multiomics Data Analysis and Integration. Swiss Institute of Bioinformatics (SIB) (0.5ECTS) </a> </li>
<li> <a target="_blank">Machine learning. Swiss Institute of Bioinformatics (SIB) (0.5ECTS)</a> </li>
<li> <a target="_blank">UNIX Shell Scripting for Life Scientists. Swiss Institute of Bioinformatics (SIB) (0.5ECTS)  </a> </li>
<li> <a target="_blank">Intermediate Python. Swiss Institute of Bioinformatics (SIB) (0.5ECTS)  </a> </li>
<li> <a target="_blank">Workshop on Epigenomics Data Analysis. CUSO (3 days)  </a> </li>
<li> <a target="_blank">First Steps in Parallelization with OpenMP. Swiss Institute of Bioinformatics (SIB)  </a> </li>
<li> <a target="_blank">Research - A Gentle Introduction to Deep Learning with Python and R.  University of Lausanne (Switzerland) (1 day)  </a> </li>
<li> <a target="_blank">HPC cluster. University of Lausanne (Switzerland) (1 day)  </a> </li>
<li> <a target="_blank">Statistics 1. Resal, University of Lausanne (Switzerland) (1 day)  </a> </li>
<li> <a target="_blank"> Statistics 2. Resal, University of Lausanne (Switzerland) (1 day) </a> </li>

<b> Environmental Science / Ecology:</b>
<li> <a target="_blank">Environmental History. University of Gothenburg, Sweden (15 ECTS) </a> </li>
<li> <a target="_blank">Environmental Legislation. UNED, Spain (6 ECTS) </a> </li>
<li> <a target="_blank">Economics & Environmental Strategy. UNED, Spain (6 ECTS) </a> </li>
<li> <a target="_blank">Ecology: Environment and Society. UNED, Spain (6 ECTS) </a> </li>
<li> <a target="_blank">Human Ecology. UNED, Spain (6 ECTS) </a> </li>

<b> Entrepreneurship / Project management:</b>
<li> <a target="_blank">UCREATE2. Workshop on sustainable entrepreneurship (7 weeks)</a> </li>
</ul>



<section id="section6"></section>
<div class="mb-5">
<div class="text-3xl w-full font-bold">Awards, Grants and Fellowships <hr> </div>
</div>
<div class="time-line-container grid gap-4 mb-10">
<TimeLineElement title="Research Grant"  subtitle="2023 - Wallonie-Bruxelles Federation (FWB, Belgium) ~ 60 000 €" />
<TimeLineElement title="Ph.D. Thesis Award"  subtitle="2021 - Society of Neuroendocrinology (SNE, France) 700 €" />
<TimeLineElement title="Postdoctoral Research Grant"  subtitle="2021 - Léon Fredericq Foundation (FLF, Belgium) 10 000 €" />
<TimeLineElement title="Short-term Postdoctoral Grant"  subtitle="2021 - Wallonie-Bruxelles Federation (FWB, Belgium) 7 000 € " />
<TimeLineElement title="Research stay Grant"  subtitle="2020  - University of Liège for a 3-month research stay in the laboratory of Alejandro Lomniczi (OHSU, Portland, OR, USA) 10 000 €" />
<TimeLineElement title="Operating grant"  subtitle="2019 - Leon Fredericq Foundation 10 000 €" />
<TimeLineElement title="Outstanding Abstract Award"  subtitle="2019 - Endocrine Society, during the ENDO2019 meeting in New Orleans (LA, USA) 700 $" />
<TimeLineElement title="Early Career Forum and Travel Award"  subtitle="2019 - Endocrine Society, during the ENDO2019 meeting in New Orleans (LA, USA)" />
<TimeLineElement title="Research stay Grant"  subtitle="2018 - Léon Fredericq Foundation (FLF, Belgium) for a 3-month research stay in the laboratory of Alejandro Lomniczi (OHSU, Portland, OR, USA) 10 000 €" />         
<TimeLineElement title="Research stay Grant"  subtitle="2018 - Rotary Club (District 1630) for a research stay in the laboratory of Alejandro Lomniczi (OHSU, Portland, OR, USA) 3 000 €" />
<TimeLineElement title="François Mignolet Award"  subtitle="2018 - Leon Fredericq Foundation 10 000 €" />
<TimeLineElement title="Operating grant"  subtitle="2017 - Leon Fredericq Foundation 10 000 €" />
<TimeLineElement title="Non-FRIA Ph.D. program scholarship"  subtitle="2016-2020 - University of Liège (Belgium) " />
<TimeLineElement title="Master’s program  scholarship"  subtitle="2013-2015 - University of Liège (Belgium) " />
<TimeLineElement title="ERASMUS program scholarship"  subtitle="2012-2013 - Catholic University of Louvain (UCL, Belgium)" />
<TimeLineElement title="Bachelor’s scholarships"  subtitle="2008-2013 - Ministry of Education, Culture and Sports (Spain)" />
</div>




      <section id="section5"></section>
   <div class="mb-5">
    <div class="text-3xl w-full font-bold">University Teaching Experience <hr> </div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Lecture on 'Endocrine Disrupting Chemicals (EDCs)'"
      subtitle="2024 - Participation in the course 'Impact of pollution on Human Health' -  University of Lausanne, Switzerland"
      desc="Course for students at the Medicine and Nursing school. Invited by Dr. Busiah Kanetee & Dr. Aurélie Berthet"
    />
    <TimeLineElement
      title="Lecture on 'Human Toxicology'"
      subtitle= "2023 - Participation in the course 'Environmental Toxicology' - University of Lausanne, Switzerland" 
      desc="Course for master students at the Faculty of Environmental Sciences. Invited by Dr. Nathalie Chèvre"
    />
    <TimeLineElement
      title="Lecture on 'Endocrine Disrupting Chemicals (EDCs)'"
      subtitle="2023 - Participation in the course 'Impact of pollution on Human Health' -  University of Lausanne, Switzerland"
      desc="Course for students at the Medicine and Nursing school. Invited by Dr. Busiah Kanetee & Dr. Aurélie Berthet"
    />
    <TimeLineElement
      title="Lecture on 'Human Toxicology'"
      subtitle= "2022 - Participation in the course 'Environmental Toxicology' - University of Lausanne, Switzerland" 
      desc="Course for master students at the Faculty of Environmental Sciences. Invited by Dr. Nathalie Chèvre"
    />
    <TimeLineElement
      title="Lecture on 'Female puberty: the role of epigenetics and environmental factors'"
      subtitle= "2020 - Participation in the course 'Neuroendocrinology' - National Autonomous University of Mexico (UNAM), Mexico" 
      desc="Course for master students at the Faculty of Biomedical Sciences. Invited by Dr. Rebeca Corona"
    />
  </div>

  <section id="section9b"></section>
  <div class="mb-5"><div class="text-3xl w-full font-bold">Master's Student Supervision <hr> </div></div>
        <ul class="list-disc mx-6 mb-10 grid gap-2">
          <li><p align="justify"><a>Vera Bonderovic <i>(co-supervisor)</i>. Identification of Health Risks faced by Nail Salons Workers: a Systematic Review (2025). University of Geneva, Switzerland</a> </p></li>
          <li><p align="justify"><a>Eva Luz Lachat <i>(co-supervisor)</i>. Bisphenol A and autism spectrum disorder in humans, a systematic review of the literature (2023). University of Lausanne, Switzerland</a> </p></li>
          <li><p align="justify"><a>Sara Kabashi  <i>(supervisor)</i>. Investigating the impact of fasting on the suprachiasmatic nucleus  (2024). University of Lausanne, Switzerland</a> </p></li>
          <li><p align="justify"><a>Anna Dreier <i>(expert)</i>. Next-generation human iPSC-derived 3D brain systems to study chemical-induced myelin disruption (2023). University of Lausanne, Switzerland </a> </p></li>
          <li><p align="justify"><a>Marzia Campanile <i>(co-supervisor)</i>. Effects of lactational and gestational exposure to a polychlorinated biphenyl mixture (Aroclor1254) in the dentate gyrus of POMC-EGFP transgenic mice (2019). GIGA-Neuroscience. University of Liege, Belgium </a> </p></li>
          <li><p align="justify"><a>Virginia Delli <i>( co-supervisor)</i>. Effects of a perinatal exposure to the flame retardant compound BDE-47 on neurogenesis and cognition (2019). GIGA-Neuroscience. University of Liege, Belgium </a> </p></li>
                  </ul>

      <section id="section8"></section>
      <div class="mb-5"><div class="text-3xl w-full font-bold">Participation in Conferences & Public Events<hr> </div></div>
          <div class="time-line-container grid gap-4 mb-10">
                <TimeLineElement title="Society of Environmental Toxicology and Chemistry (SETAC)"  subtitle="2025 -  Oral communication - Viena, Austria" />
                <TimeLineElement title="Round Table - Endocrine Disruptors: a critical health and environmental challenge requiring urgent interdisciplinary action"  subtitle="2025 - PIRSE - Lausanne, Switzerland" />

                <TimeLineElement title="Swiss Society of Endocrinology, Diabetology & Pediatrics"  subtitle="2025 -  Oral communication - Lausanne, Switzerland" />
                <TimeLineElement title="Swiss Society of Toxicology (SST) "  subtitle="2024 -  Poster Presentation - Basel, Switzerland" />
                <TimeLineElement title="SCAHT retreat"  subtitle="2024 -  Oral communication - Sursee, Switzerland" />
                <TimeLineElement title="GRS on Environmental Endocrine Disruptors"  subtitle="2024 -  Oral communication - Toscany, Italy" />
                <TimeLineElement title="Society for Neuroendocrinology meeting (SNE)"  subtitle="2024 -  Poster presentation - Nice, France" />
                  <TimeLineElement title="Society for Neuroendocrinology meeting (SNE)"  subtitle="2021 -  Oral communication - Online" />
                  <TimeLineElement title="Society for Behavioral Neuroendocrinology meeting (SBN)"  subtitle="2019 - Poster presentation - Bloomington, Indiana, USA" />
                  <TimeLineElement title="European Congress for Endocrinology (ECE)"  subtitle="2019 - Oral communication  - Lyon, France" />
                  <TimeLineElement title="Endocrine Society meeting"  subtitle="2019 - Oral communication - New Orleans, Louisiana, USA" />
                  <TimeLineElement title="Pan American Neuroendocrine Society (PANS)"  subtitle="2019 - Oral communication - New Orleans, Louisiana, USA" />
                  <TimeLineElement title="International Congress for Neuroendocrinology (ICN) "  subtitle="2018 - Oral communication - Toronto, Canada" />
                  <TimeLineElement title="European Doctoral College on Environment and Health meeting (EDCEH)"  subtitle="2018 - Oral communication - Rennes, France" />
                  <TimeLineElement title="International Days of Toxicology  (JIT)"  subtitle="2017 - Oral communication - Liège, Belgium" />
                  <TimeLineElement title="Copenhagen Workshop on Endocrine Disruptors (COW)"  subtitle="2017 - Oral communication - Copenhaguen, Denmark" />
                  <TimeLineElement title="EURON Ph.D. days"  subtitle="2016 - Poster presentation - Lille, France" />
                  <TimeLineElement title="Society for Neuroendocrinology meeting (SNE)"  subtitle="2016 -  Oral communication - Corte, Corsica, France" />
          </div>


          <section id="section10"></section>
          <div class="mb-5"> <div class="text-3xl w-full font-bold">Active Membership <hr> </div></div>
               <ul class="list-disc mx-6 mb-10 grid gap-2">
                         <li><a href="https://www.pirse.org/" target="_blank">2025-Today: Member of "Pôle interdiscip. de recherche et d’info. en sante environnement" (PIRSE)  </a></li>
                         <li><a href="https://www.swisstox.ch/" target="_blank">2023-Today: Member of the Swiss Society of Toxicology </a></li>
                         <li> <a href="https://www.endocrinology.org/" target="_blank">2023-Today: Member of the Society for Endocrinology (UK)</a></li>
                         <li> <a href="https://www.neuroendocrinologie.fr/" target="_blank">2016-Today: Member of the Society for Neuroendocrinology (France)</a> </li>
                         <li><a href="https://www.endocrine.org/" target="_blank">2018-2021: Member of the Endocrine Society (USA)</a></li>
                         <li> <a href="https://www.ese-hormones.org/" target="_blank">2018-2020: Member of the European Society for Endocrinology (EU)</a></li>
                         <li><a href="https://sbn.org/home.aspx" target="_blank">2018-2020: Member of the Society for Behavioral Neuroendocrinology (USA)</a></li>
               </ul>
     

               <section id="section9"></section>
               <div class="mb-5"><div class="text-3xl w-full font-bold">Peer-reviewing <hr> </div></div>
                      <ul class="list-disc mx-6 mb-10 grid gap-2">
                               <li><a href="https://www.pnas.org/" target="_blank">Reviewer for PNAS </a> </li>
                               <li><a href="https://www.nature.com/srep/" target="_blank">Reviewer for Nature Scientific Reports </a> </li>
                               <li><a href="https://www.cell.com/molecular-therapy-family/home" target="_blank">Reviewer for CellPress Molecular Therapy </a></li>
                               <li><a href="https://www.karger.com/journal/home/223855" target="_blank">Reviewer for Neuroendocrinology</a></li>
                               <li><a href="https://www.frontiersin.org/journals/psychiatry" target="_blank">Reviewer for Frontiers in Psychiatry</a></li>
                               <li><a href="https://www.frontiersin.org/journals/behavioral-neuroscience" target="_blank">Reviewer for Frontiers in Behavioral Neuroscience</a></li>
                      </ul>
            

              <section id="section11"></section>
     <div class="mb-5"><div class="text-3xl w-full font-bold">Language Skills <hr> </div></div>
          <ul class="list-disc mx-6 mb-10 grid gap-2">
                    <li><a target="_blank">Spanish: Native</a></li>
                    <li><a target="_blank">English: C2</a></li>
                    <li><a target="_blank">French: C2</a></li> 
          </ul>

          <section id="section7b"></section>
          <div class="mb-5">
            <div class="text-3xl w-full font-bold">Internships <hr> </div>  </div> 
              <ul class="list-disc mx-6 mb-10 grid gap-2"> 
                <li> <a target="_blank">Dr. Alejandro Lomniczi (2020). Transgenerational effects of a mixture of Endocrine Disruptors on the hypothalamic transcriptome. Oregon Health & Science University (OHSU), Portland, USA. </a> </li>
                <li> <a target="_blank">Dr. Alejandro Lomniczi (2018). Transgenerational effects of a mixture of Endocrine Disruptors on the hypothalamic transcriptome. Oregon Health & Science University (OHSU), Portland, USA.</a> </li>
                <li> <a target="_blank"></a>Prof. Jean-Pierre Bourguignon & Prof. Anne-Simone Parent (2016). Role of GPR151 in the control of GnRH secretion. University of Liège, Belgium. </li>
                <li> <a target="_blank"></a>Prof. Thierry Charlier (2015). The Role of androgens on the central control of sexual behavior of the japanese quail. University of Ohio, USA. </li>
              </ul>


              <section id="section12"></section>
  <div class="mb-5"><div class="text-3xl w-full font-bold">Certifications <hr> </div> </div>
          <ul class="list-disc mx-6 mb-10 grid gap-2">
                    <li><a href="https://www.eurotox.com/what-is-ert/" target="_blank"> European Register Toxicologist (<u>ONGOING</u>, EXPECTED SPRING 2025)</a></li>
                    <li><a href="https://felasa.eu/" target="_blank"> FELASA certificate</a></li>
          </ul>

</BaseLayout>
