---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---
<style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>


<BaseLayout title = "CV - David Lopez Rodriguez">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2JEVNPCKR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B2JEVNPCKR');
</script>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-5 text-justify">
    Experienced and multidisciplinary scientist with a background in toxicology, biology, environmental and computational sciences. My main objective is to develop computational and bioinformatic tools that can expand scientific knowledge and make a valuable contribution to public health and society. 
  </div>

  <div class="mb-10">
    <div class="mb-5"><div class="text-3xl w-full font-bold">Skills</div> </div>




  <ul class="list-disc md:columns-2 columns-1 mx-6">

    <li><b>Toxicology </b></li>
    <li><b>Biostatistics / Advanced Statistics</b></li>
    <li><b>Epidemiology</b></li>
    <li><b>Bioinformatics & computational biology</b>
            <ol style="list-style-type: circle; padding-bottom: 0;">
                  <li style="margin-left:2em">Multiomics: scRNAseq, ChIPSeq,...</li>
                  <li style="margin-left:2em; padding-bottom: 0;">R (RStudio)</li>
                  <li style="margin-left:2em; padding-bottom: 0;">Python (Anaconda, PyCharm)</li>
                  <li style="margin-left:2em; padding-bottom: 0;">C++</li>
                  <li style="margin-left:2em; padding-bottom: 0;">UNIX/Shell</li>
                  <li style="margin-left:2em; padding-bottom: 0;">High-performance Computing (HPC)</li>
                  <li style="margin-left:2em; padding-bottom: 0;">Machine Learning</li>
                  <li style="margin-left:2em; padding-bottom: 0;">RShiny</li>
                  <li style="margin-left:2em; padding-bottom: 0;">Version Control (Git)</li>
             </ol>
    </li>


    <li><b>Molecular biology & Epigenetics</b>
            <ol style="list-style-type: circle; padding-bottom: 0;">
                  <li style="margin-left:2em">qPCR, CUT&RUN, FACS,...</li>
             </ol>
    </li>

    <li><b>Chemo-informatics</b>
                <ol style="list-style-type: circle; padding-bottom: 0;">
                  <li style="margin-left:2em">QSAR</li>
                   <li style="margin-left:2em">In Silico Methods</li>
             </ol></li>

    <li><b>Neuroendocrinology & Physiology</b>
             <ol style="list-style-type: circle; padding-bottom: 0;">
                    <li style="margin-left:2em">ICH, WB, Microscopy, ELISA,...</li>
             </ol></li>

    <li><b>Web design</b>
             <ol style="list-style-type: circle; padding-bottom: 0;">
                    <li style="margin-left:2em">RShiny</li>
                    <li style="margin-left:2em">WordPress</li>
                    <li style="margin-left:2em"> Photoshop, InDesign, Illustrator</li>
                    <li style="margin-left:2em">Scientific Illustration</li>
             </ol></li>

    <li><b>Scientific writing</b></li>
  </ul>
    </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Employment history </div>
  </div>
 
 
 <div class="time-line-container mb-10">
   <TimeLineElement
      title="Project Coordinator - Pesticide Monitoring "
      subtitle="From 2024 - Today at Environmental Science & Research Consulting"
      desc="Project Coordinator of the project 'Pesticide Exposure Assessment of the Swiss Non-Occupational Sensitive Population' https://www.pestizidmonitoring.ch/"
    />

     <TimeLineElement
      title="EFSA - Scientific and Technical Support Panel"
      subtitle="From 2023 to 2027"
      desc="European Food & Safety Authority (EFSA). 5-year mandate as scientific and technical support"
    />
    <TimeLineElement
      title="Postdoctoral fellow - Langlet's laboratory"
      subtitle="From 2021 at University of Lausanne, Switzerland"
      desc="Role as bioinformatician / biologist, development of novel methods to decipher the role of cell-cell communication in the neuroendocrine control of energy balance. Technologies: scRNAseq, transcriptomics, tracing, cell-cell communication, R, Python, HPC, machine learning"
    />
    <TimeLineElement
      title="Postdoctoral fellow - H2020 FREIA Project"
      subtitle="From 2020 to 2021 at University of Liege, Belgium"
      desc="Role as toxicologist / biologist / bioinformatician. Data analysis of transcriptomics and biological data to decipher neuroendocrine biomarkers of Endocrine Disrupting Chemical developmental exposures Technologies: RNAseq, transcriptomics, data analysis, R, Python"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
      title="MAS in Toxicology. Risk Assessment, Clinic Toxicology and Ecotoxicology Modules (11 ECTS)"
      subtitle="2023-Today at University of Geneva (UNIGE), Switzerland"
    />
    <TimeLineElement
      title="PhD in Biomedical Sciences"
      subtitle= "2016 to 2020 at University of Liege (ULIEGE), Belgium" 
    />
    <TimeLineElement
      title="M.Sc. in Experimental Neuroscience"
      subtitle="2013 to 2015 at University of Liege (ULIEGE), Belgium"
    />

  </div>

  
   <div class="mb-5">
    <div class="text-3xl w-full font-bold">Teaching experience</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Lecture on 'Endocrine Disrupting Chemicals (EDCs)'"
      subtitle="2024 - Participation in the course 'Impact of pollution on Human Health' -  University of Lausanne, Switzerland"
      desc="Course for students at the Medicine and Nursing school. Invited by Dr. Busiah Kanetee & Dr. Aurélie Berthet"
    />
    <TimeLineElement
      title="Lecture on 'Human Toxicology'"
      subtitle= "2023 - Participation in the course 'Environmental Toxicology' - University of Lausanne, Switzerland" 
      desc="Course for master students at the Faculty of Environmental Sciences. Invited by Dr. Nathalie Chèvre"
    />
    <TimeLineElement
      title="Lecture on 'Endocrine Disrupting Chemicals (EDCs)'"
      subtitle="2023 - Participation in the course 'Impact of pollution on Human Health' -  University of Lausanne, Switzerland"
      desc="Course for students at the Medicine and Nursing school. Invited by Dr. Busiah Kanetee & Dr. Aurélie Berthet"
    />
    <TimeLineElement
      title="Lecture on 'Human Toxicology'"
      subtitle= "2022 - Participation in the course 'Environmental Toxicology' - University of Lausanne, Switzerland" 
      desc="Course for master students at the Faculty of Environmental Sciences. Invited by Dr. Nathalie Chèvre"
    />
    <TimeLineElement
      title="Lecture on 'Female puberty: the role of epigenetics and environmental factors'"
      subtitle= "2020 - Participation in the course 'Neuroendocrinology' - National Autonomous University of Mexico (UNAM), Mexico" 
      desc="Course for master students at the Faculty of Biomedical Sciences. Invited by Dr. Rebeca Corona"
    />
  </div>

         <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards, Grants and Fellowships</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
     <TimeLineElement title="Postdoctoral Fellowship"  subtitle="2023 - Wallonie-Bruxelles Federation (FWB, Belgium)" />
     <TimeLineElement title="Ph.D. Thesis Award"  subtitle="2021 - Society of Neuroendocrinology (SNE, France)" />
     <TimeLineElement title="Postdoctoral Travel Grant"  subtitle="2021 - Léon Fredericq Foundation (FLF, Belgium) for carrying out postdoctoral research at the laboratory of Fanny Langlet (UNIL, Lausanne, Switzerland)" />
     <TimeLineElement title="Short-term Postdoctoral Grant"  subtitle="2021 - Wallonie-Bruxelles Federation (FWB, Belgium)  for carrying out postdoctoral research at the laboratory of Fanny Langlet (UNIL, Lausanne, Switzerland)" />
     <TimeLineElement title="Research stay Grant"  subtitle="2020  - University of Liège for a 3-month research stay in the laboratory of Alejandro Lomniczi (OHSU, Portland, OR, USA)" />
     <TimeLineElement title="Operating grant"  subtitle="2019 - Leon Fredericq Foundation" />
     <TimeLineElement title="Outstanding Abstract Award"  subtitle="2019 - Endocrine Society, during the ENDO2019 meeting in New Orleans (LA, USA)" />
     <TimeLineElement title="Early Career Forum and Travel Award"  subtitle="2019 - Endocrine Society, during the ENDO2019 meeting in New Orleans (LA, USA)" />
     <TimeLineElement title="Research stay Grant"  subtitle="2018 - Léon Fredericq Foundation (FLF, Belgium) for a 3-month research stay in the laboratory of Alejandro Lomniczi (OHSU, Portland, OR, USA)" />         
     <TimeLineElement title="Research stay Grant"  subtitle="2018 - Rotary Club (District 1630) for a 3-month research stay in the laboratory of Alejandro Lomniczi (OHSU, Portland, OR, USA)" />
     <TimeLineElement title="François Mignolet Award"  subtitle="2018 - Leon Fredericq Foundation" />
      <TimeLineElement title="Operating grant"  subtitle="2017 - Leon Fredericq Foundation" />
      <TimeLineElement title="Non-FREIA Ph.D. program scholarship"  subtitle="2016-2020 - University of Liège (Belgium) " />
      <TimeLineElement title="Master’s program  scholarship"  subtitle="2013-2015 - University of Liège (Belgium) " />
      <TimeLineElement title="ERASMUS program scholarship"  subtitle="2012-2013 - Catholic University of Louvain (UCL, Belgium)" />
      <TimeLineElement title="Bachelor’s scholarships"  subtitle="2008-2013 - Ministry of Education, Culture and Sports (Spain)" />
  </div>

     <div class="mb-5">
    <div class="text-3xl w-full font-bold">Continuous Education</div>  </div> 
  <ul class="list-disc mx-6 mb-10 grid gap-2"> 
  
  <li> <a target="_blank">Environmental Legislation. UNED, Spain (6 ECTS) </a> </li>
  <li> <a target="_blank">Economics & Environmental Strategy. UNED, Spain (6 ECTS) </a> </li>
  <li> <a target="_blank">Ecology: Environment and Society. UNED, Spain (6 ECTS) </a> </li>
  <li> <a target="_blank">Human Ecology. UNED, Spain (6 ECTS) </a> </li>
  <li> <a target="_blank">Environmental History. University of Gothenburg, Sweden (15 ECTS) </a> </li>
  <li> <a target="_blank">UCREATE2. Workshop on sustainable entrepreneurship (7 weeks)</a> </li>
  <li> <a target="_blank">Machine learning. Swiss Institute of Bioinformatics (SIB) (0.5ECTS)</a> </li>
  <li> <a target="_blank">UNIX Shell Scripting for Life Scientists. Swiss Institute of Bioinformatics (SIB) (0.5ECTS)  </a> </li>
  <li> <a target="_blank">Intermediate Python. Swiss Institute of Bioinformatics (SIB) (0.5ECTS)  </a> </li>
  <li> <a target="_blank">Workshop on Epigenomics Data Analysis. CUSO (3 days)  </a> </li>
  <li> <a target="_blank">First Steps in Parallelization with OpenMP. Swiss Institute of Bioinformatics (SIB)  </a> </li>
  <li> <a target="_blank">Research - A Gentle Introduction to Deep Learning with Python and R.  University of Lausanne (Switzerland) (1 day)  </a> </li>
  <li> <a target="_blank">HPC cluster. University of Lausanne (Switzerland) (1 day)  </a> </li>
  <li> <a target="_blank">Statistics 1. Resal, University of Lausanne (Switzerland) (1 day)  </a> </li>
  <li> <a target="_blank"> Statistics 2. Resal, University of Lausanne (Switzerland) (1 day) </a> </li>
  </ul>
  
  <div class="mb-5"><div class="text-3xl w-full font-bold">Participation in conferences</div></div>
      <div class="time-line-container grid gap-4 mb-10">
             <TimeLineElement title="Society for Neuroendocrinology meeting (SNE)"  subtitle="2021 -  Oral communication - Online" />
             <TimeLineElement title="Society for Behavioral Neuroendocrinology meeting (SBN)"  subtitle="2019 - Poster presentation - Bloomington, Indiana, USA" />
             <TimeLineElement title="European Congress for Endocrinology (ECE)"  subtitle="2019 - Oral communication  - Lyon, France" />
             <TimeLineElement title="Endocrine Society meeting"  subtitle="2019 - Oral communication - New Orleans, Louisiana, USA" />
             <TimeLineElement title="Pan American Neuroendocrine Society (PANS)"  subtitle="2019 - Oral communication - New Orleans, Louisiana, USA" />
             <TimeLineElement title="International Congress for Neuroendocrinology (ICN) "  subtitle="2018 - Oral communication - Toronto, Canada" />
             <TimeLineElement title="European Doctoral College on Environment and Health meeting (EDCEH)"  subtitle="2018 - Oral communication - Rennes, France" />
             <TimeLineElement title="International Days of Toxicology  (JIT)"  subtitle="2017 - Oral communication - Liège, Belgium" />
             <TimeLineElement title="Copenhagen Workshop on Endocrine Disruptors (COW)"  subtitle="2017 - Oral communication - Copenhaguen, Denmark" />
             <TimeLineElement title="EURON Ph.D. days"  subtitle="2016 - Poster presentation - Lille, France" />
             <TimeLineElement title="Society for Neuroendocrinology meeting (SNE)"  subtitle="2016 -  Oral communication - Corte, Corsica, France" />
      </div>


   <div class="mb-5"><div class="text-3xl w-full font-bold">Peer-reviewing</div></div>
          <ul class="list-disc mx-6 mb-10 grid gap-2">
                   <li><a href="https://www.nature.com/srep/" target="_blank">Reviewer for Nature Scientific Reports </a> </li>
                   <li><a href="https://www.cell.com/molecular-therapy-family/home" target="_blank">Reviewer for CellPress Molecular Therapy </a></li>
                   <li><a href="https://www.karger.com/journal/home/223855" target="_blank">Reviewer for Neuroendocrinology</a></li>
                   <li><a href="https://www.frontiersin.org/journals/psychiatry" target="_blank">Reviewer for Frontiers in Psychiatry</a></li
                   <li><a href="https://www.frontiersin.org/journals/behavioral-neuroscience" target="_blank">Reviewer for Frontiers in Behavioral Neuroscience</a></li>
          </ul>

     <div class="mb-5"> <div class="text-3xl w-full font-bold">Active membership</div></div>
          <ul class="list-disc mx-6 mb-10 grid gap-2">
                    <li><a href="https://www.swisstox.ch/" target="_blank">2023-Today: Member of the Swiss Society of Toxicology </a></li>
                    <li> <a href="https://www.endocrinology.org/" target="_blank">2023-Today: Member of the Society for Endocrinology (UK)</a></li>
                    <li> <a href="https://www.neuroendocrinologie.fr/" target="_blank">2016-Today: Member of the Society for Neuroendocrinology (France)</a> </li>
                    <li><a href="https://www.endocrine.org/" target="_blank">2018-2021: Member of the Endocrine Society (USA)</a></li>
                    <li> <a href="https://www.ese-hormones.org/" target="_blank">2018-2020: Member of the European Society for Endocrinology (EU)</a></li>
                    <li><a href="https://sbn.org/home.aspx" target="_blank">2018-2020: Member of the Society for Behavioral Neuroendocrinology (USA)</a></li>
          </ul>



     <div class="mb-5">
    <div class="text-3xl w-full font-bold">Language skills</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a target="_blank">Spanish: Native</a>
    </li>
    <li>
         <a target="_blank">English: C2</a>
    </li>
        <li>
        <a target="_blank">French: C2</a>
    </li>
     
  </ul>


  



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://felasa.eu/" target="_blank"> FELASA certificate</a>
    </li>
  </ul>


</BaseLayout>
