---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
          <div class="text-4xl font-bold">David Lopez Rodriguez, PhD</div>
          <div class="text-2xl py-2 font-bold">Research fellow - University of Lausanne</div>

          <div class="py-2"><text class="text-lg"> <p align="justify">
              As a multidisciplinary researcher, my focus lies in creating computational tools allowing to advance scientific knowledge to improve public health and environmental policies. Today, with an expertise in biology, toxicology, environmental and computational sciences, I strive to develop a comprehensive understanding of the risks associated with chemical exposures and gain an understanding on the biological process involved in the control of metabolism.            
            
              </p> </text> </div>

           <div class="py-4">
           <text class="text-lg"><p align="justify">  <b>	Disciplines:</b> Toxicology, Bioinformatics, Endocrinology, Environmental Science, Public Health, Risk assessment. </p> </text>
           </div>
           
  
           <text class="text-lg"><p align="justify">  <b>	Skills and expertise:</b> Bioinformatics, Chemo-informatics, Neuroendocrinology, Environmental Sciences, Environmental Health, Endocrine Disruption, Toxicology, Computational Biology, Adverse outcome pathways, Chemical Risk Assessment, Environmental Pollution, Data Analysis, Estrogens, Molecular Biology, Physiology, Reproductive Toxicology, Xenobiotics.  </p> </text>
       


          <div class="mt-8">
      
          </div>
        </div>

        <div>
          <div class="text-3xl w-full font-bold mb-2">Current projects </div>
        </div>

        <HorizontalCard
          title="A framework for identifying and prioritizing the risk asessment of Endocrine Disrupting Chemicals (EDCs)"
          img="/Tmap.png"
          desc="Keywords: Endocrine Disruption, Toxicology, In Silico, QSAR, Machine Learning, NAMs, Risk Assessment, Chemo-informatics, Environmental Science, Adverse outcome pathways (AOPs)"
          id="p1" 
          url="/p1/"
        />
        <div class="divider my-0"></div>
        <HorizontalCard
        title="Temporal dynamics of the tanycyte connectome according to changes in metabolic state"
        img="/Connectome.png"
        desc="Keywords: Neurosciences, Energy balance, Bioinformatics, Connectomics, Hypothalamus, Neuroendocrinology"
        id="p2" 
        url="/p2/"
      />
        <div class="divider my-0"></div>
        <HorizontalCard
        title="Deciphering the heterogeneity and plasticity of ependymoglial cells during energy imbalance"
        img="/Pseudospatial.png"
        desc="Keywords: Neurosciences, Energy balance, Bioinformatics, Connectomics, Hypothalamus, Neuroendocrinology"
        id="p3" 
        url="/p3/"
      />



</BaseLayout>
