---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---





<BaseLayout>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2JEVNPCKR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B2JEVNPCKR');
</script>


    <div class="pb-12 mt-5">
          <div class="text-4xl py-4 font-bold">David Lopez Rodriguez, PhD</div>
          <div class="text-2xl   font-bold"> 
            <span class='bigger'>(1)</span>  
            <span class='headmain'>Data Scientist / Bioinformatician / Toxicologist - Lausanne University </span> </div>
          <div class="text-2xl font-bold">
              <span class='bigger'>(2)</span> 
              <span class='headmain'>Independent consultant</span> </div>
    

              <p align="justify">
                <div class="py-1"><text class="text-lg"> 
            
                     <div class="mb-1 text-justify">
 
                
                    </div>
                  </text> </div></p>


          <p align="justify">
          <div class="py-1"><text class="text-lg"> 
      
               <div class="mb-1 text-justify">
                I am a multidisciplinary researcher in biology, (eco-)toxicology, computational science and neuroscience. 
                Currently, I am a researcher at the University of Lausanne and an independent consultant.
              </div>
            </text> </div></p>
              
         
                  <div class="py-1"><text class="text-lg"> 
                    <p align="justify">
                      As a researcher, I develop computational methods to better understand the risks associated with environmental factors 
                      such as nutrition and chemical pollutants. These methods include machine learning models, multiomic & scRNAseq data analysis and the 
                      development of New Approach Methodologies (NAMs) and interactive tools to explore chemical hazards.
                    </div>

                    <div class="py-1"><text class="text-lg"> 
                      <p align="justify">
                       As a consultant, I bring expertise in data science, biology and toxicology to scientists and industry. 
                       With my mixed background I can provide insightful data visualizations and deep interpretations of the 
                       underlying biological significance.
                      </div>
<br> 

            </text>
            <div class="py-1">  </div>
            <text class="text-lg"><p align="justify">  <b>	Disciplines:</b> 
              Data Science, Bioinformatics/Biostatistics, (eco-)Toxicology, Biology, Computational Biology, (Neuro-)Endocrinology, Neuroscience, Chemo-informatics. </p> </text>
              <div class="py-1">  </div>
              <text class="text-lg"><p align="justify">  <b>	Expertise Keywords:</b> Multiomics, Endocrine Disruption, In Silico methods, Adverse outcome pathways (AOPs), scRNAseq, Transcriptomics, Metabolimics/Lipidomics, HPC, Git, Shiny, Machine Learning, Linux, Bash. </p> </text>

              </div>
            
            </div></p>
            
        
           
  
  


          <div class="mt-8">
      
          </div>
        </div>

        <div>
          <div class="text-3xl w-full font-bold mb-2">Current projects </div>
        </div>


        <HorizontalCard
        title="Multi-Omics Approaches to Evaluate the Neurotoxicity of Propylene Glycol Ether Solvents"
        img="/p12b.png"
        desc="Keywords: Bioinformatics, BrainSpheres In vitro Models, NAMs, Lipidomics, Metabolomics, Proteomics, Transcriptomics, Toxicology, Benchmark Dose (BMD), Adverse outcome pathways (AOPs), Solvents"
        id="p12" 
        url="/p12/"
      />



        <div class="divider my-0"></div>

        <HorizontalCard
          title="An Integrative Tool to Identify and Prioritize the Risk Assessment of Endocrine Disrupting Chemicals (EDCs)"
          img="/Tmap.png"
          desc="Keywords: Endocrine Disruption, Toxicology, In Silico, Machine Learning, NAMs, Chemo-informatics, Adverse outcome pathways (AOPs)"
          id="p1" 
          url="/p1/"
        />
        <div class="divider my-0"></div>
        <HorizontalCard
        title="HypCCAtlas, A Functional Hypothalamic Atlas of Cell-Cell Communication"
        img="/Network.png"
        desc="Keywords: Bioinformatics, Nutrition, Energy balance, Connectomics, Hypothalamus, Neuroendocrinology"
        id="p13" 
        url="/p13/"
      />
      <div class="divider my-0"></div>

      <HorizontalCard
      title="Pesticide Exposure Assessment of the Swiss Sensitive Population"
      img="/p11b.png"
      desc="Keywords: Epidemiology, Pesticides, Toxicology, Exposure Assessment, Exposure Mixtures, Endocrine Disruptors"
      id="p11" 
      url=""
    />

       



</BaseLayout>
