---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---




<BaseLayout title = "Projects">

<div>
          <div class="text-3xl w-full font-bold mb-2">A framework for identifying and prioritizing the risk asessment of Endocrine Disrupting Chemicals (EDCs) </div>
        </div>

     

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/p1.webp" target="_blank" class="mx-3" aria-label="EDCs" title="EDCs">
				<img src="/p1.webp" alt="Italian Trulli" width="700" height="800"> </img>
			</a>
</div>


 <div class="py-4">
 <text class="text-lg"><p align="justify">  <b>	Abstract:</b> Global concerns have been raised over the potential adverse effects of exposure to chemicals that interfere with the endocrine system of humans and wildlife. Because of their widespread presence, persistency and their myriad of mechanisms of actions, Endocrine Disrupting Chemicals (EDCs) are complex to identify and evaluate. Currently, worldwide regulatory agencies urge scientists to find alternative methodologies replacing in vivo models to improve the risk assessment of EDCs. The present research project aims to create a framework to identify and prioritize the risk assessment of EDCs under European regulations. To do that, we will (a) generate an in silico exploratory tool to visualize chemicals and their properties, (b) implement a machine learning approach to rank EDCs of concern and (c) validate the most concerning chemicals using in vitro assays. Our project aims to develop an open-source tool to improve the evaluation of endocrine disruptors, thereby promoting a shift in EU chemical regulations towards a toxic-free environment. </p> </text>
 </div>




 



 
</BaseLayout>
