---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "Pesticide Monitoring - David Lopez Rodriguez">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B2JEVNPCKR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B2JEVNPCKR');
</script>

<div>
          <div class="text-3xl w-full font-bold mb-2">Pesticide Exposure Assessment of the Swiss Sensitive Population</div>
        </div>

     

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/p11.png" target="_blank" class="mx-3" aria-label="Pesticide" title="Pesticide">
				<img src="/p11.png" alt="Italian Trulli" width="700" height="800"> </img>
			</a>
</div>


 <div class="py-4">
 <text class="text-lg"><p align="justify">  
 
 <b>Summary.</b>


                <br>
                <p align="justify">

 Ecosystems and humans are exposed to an unknown number of chemicals. Many of them, such as synthetic pesticides, are in constant use due to increasing agricultural production.
PPPs are a very diverse group of chemicals with different physicochemical and biochemical properties and different routes of exposure. Humans are exposed through food, ambient air or occupational activities, but the sum and mixtures of exposures to pesticides are unknown. Therefore, the fate of pesticides or plant protection products (PPPs) in the environment and the extent of their exposure to humans and ecosystems are not yet clear, and comprehensive exposure assessments are rare.
However, it is important to know the actual exposure of the population because many pesticides are associated with adverse health effects. Some pesticides are endocrine disrupting chemicals (EDCs), which alter hormonal and homeostatic systems. Environmental exposures to EDCs during sensitive periods of life, such as fetal development, childhood or adolescence, result in adverse health effects. Developmental exposures to EDCs have been widely linked to health impairments such as reduced fertility, metabolic disorders, and cancer. Other pesticides, such as carbamates and organophosphates, inactivate the enzyme acteylcholinesterase (AChE) and alter the nervous system, leading to neurodegenerative diseases like Parkinson's disease. Pesticide exposure may also be one of several risk factors associated with ADHD, multiple sclerosis, and Alzheimer's disease.
Today's national and international pesticide risk assessments focus only on the specific active ingredient and do not consider product formulations and mixtures of pesticides. As a result, regulatory measures are lagging behind in protecting society. International bodies such as the World Health Organization (WHO) are increasingly recognizing the need to develop new (NAMs) to improve the identification and assessment of chemicals, especially those with endocrine disrupting properties. However, the potential toxic effects of chemicals depend not only on their concentration, but also on their mixture and the lifetime exposure window. Therefore, it is important to assess the potential exposure to pesticide mixtures to ensure human and environmental health, to develop specific mitigation measures, and to redefine the regulatory process for pesticide registration and use.
The specific exposure to pesticide mixtures varies considerably between geographical areas and over time. For Switzerland, the extent of potential pesticide exposure of the non-occupational population is still unknown.
 </p>
                <br>
                <p align="justify">

Exposure to PPPs is difficult to assess because the routes of exposure and the time and season of exposure vary widely among the population and across geographic areas. Furthermore, the assessment of PPP exposure is difficult because some PPPs are persistent or degrade rapidly to sometimes unknown metabolites.
 </p>
                <br>
                <p align="justify">
In this project, we aim to assess the exposure of children to pesticides in Switzerland , including four different agricultural regions of Switzerland:
- Valais (VS)
- Three Lakes Region (TLR)
- Zürcher Weinland/Zürcher Vinland (ZV)
- Grisons (GR).
  </p>
                <br>
                <p align="justify">
The results will be used to identify and rank novel and unknown PPP exposure mixtures, including future in vitro testing for endocrine activity, oxidative stress and AChE interference.
 </p>
                <br>
                <p align="justify">
<b>Aims of the Project</b>
Globally, this comprehensive project aims to develop an integrative and open-source methodology to improve the identification and assessment of potential PPP exposure in different agricultural regions, thereby improving public health and supporting a shift in EU chemical regulations towards a more toxic-free environment.
 </p>
                <br>
                <p align="justify">

<b>Methods</b>
Within the four Swiss study areas, environmental and non-invasive bio-samples will be collected. We sample again grass samples within the four different study areas and dust samples from participating households. Additionally hair samples from children of the participating households will be collected. The samples are then analyzed for more than 300 pesticide residues and metabolites.
 </p>
                <br>
                <p align="justify">
More about the project: <b>https://www.pestizidmonitoring.ch/</b> & <b>https://carolinelinhart.ch/</b>
  </p>
                <br>
                <p align="justify">
<b>Status of the Project and Project Plan</b>
Nov 2023: Submission to the Ehtics Committee
Dec & Jan 2023: Notification of local communities invited to participate
Feb 2024: Start of information campaign and recruitment process
March-April 2024: Recruitment phase
April 2024: Start of survey & sample collection.
 </p>
                <br>
                <p align="justify">
<b>Cooperations and Study Team</b>
Project ongoing in cooperation with the Department of Biology, Laboratory of Soil Biodiversity, University of Neuchâtel.
 </p>
           

 </p> </text>
 </div>




 



 
</BaseLayout>
