---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "Solvents Project - David Lopez Rodriguez">


<div>
          <div class="text-3xl w-full font-bold mb-2">Multi-Omics Approaches to Evaluate the Neurotoxicity of Propylene Glycol Ether Solvents</div>
        </div>

     
<br>
<br>
      
<div>
    <div class="text-2xl w-full font-bold mb-2"> ... C o m i n g  S o o n... </div>
  </div>


</div>
