---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "Tanycyte connectome - David Lopez Rodriguez">


<div>
          <div class="text-3xl w-full font-bold mb-2">Temporal dynamics of the tanycyte connectome according to changes in metabolic state </div>
        </div>

     

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/Connect2.png" target="_blank" class="mx-3" aria-label="Tanycyte connectome" title="Tanycyte connectome">
				<img src="/Connect2.png" alt="Italian Trulli" width="800" height="800"> </img>
			</a>
</div>


 <div class="py-4">
 <text class="text-lg"><p align="justify">  
 
 <b>Summary.</b>
 For decades, our society has faced significant public health challenges due to the increasing prevalence of obesity. This altered metabolic state 
 negatively impacts the quality of life and predisposes to chronic disorders or diseases such as type-2 diabetes, infertility, or cancer. In this 
 context, an adequate balance between energy intake and expenditure is essential to maintain a healthy life.  </p>

 <p align="justify">  
 <br>
 The central nervous system, especially the hypothalamus, is often considered the main orchestrator of energy balance by integrating metabolic 
 information from the periphery and responding via efferent regulatory signals in line with the physiological demand. At the floor of the third 
 ventricle (3V), the arcuate nucleus of the hypothalamus (ARH) and the median eminence (M.E.) are largely considered the primary regions for 
 metabolic integration, as multiple cell types work together there to respond and adapt to changes in energy balance. In this context, peculiar 
 ependymal cells called tanycytes are in a prime position to detect and transfer variations of nutrient and hormone levels from the periphery. 
 Lining the floor of the 3V and sending a single basal process into the hypothalamic parenchyma, tanycytes are in contact with the cerebrospinal 
 fluid, vessels, astrocytes, oligodendrocytes, and neurons. Through these interactions, tanycytes integrate multiple metabolic information to 
 control energy balance.  </p>

 <p align="justify">  
 <br>
In this project, <u> we aim to decipher the ARH/EM connectome regulating energy homeostasis taking tanycytes as a central node of the network.</u> 
To do so, we will use viral tracing approaches to (<b>A</b>) characterize the composition and 
morphology of the tanycyte connectome and (<b>B</b>) decipher the transcriptional regulation of cell-cell communication at the single-cell resolution. 
Precisely, we will crack the interplaying mechanisms and the temporal transcriptional profile of tanycytes and their connectome by barcoding 
tanycyte-cell interactions during a fast-refeeding paradigm.  </p>

<p align="justify"> 
<br>
This project will ultimately allow us to determine the entire regulatory network interconnected to tanycytes and the dynamics in its transcriptional 
profile. Understanding the plasticity of this network will enable the scientific community to better apprehend the central control of metabolism,  
provide novel tools to study the pathophysiology of metabolic syndromes, and offer, at term, more targeted treatments.   </p>
<p align="justify"> 
<br>

This project will be held at the Fanny Langlet's laboratory (Department of Biomedical Sciences, University of Lausanne, Switzerland).</p>

 
 
 
 </p> </text>
 </div>




 



 
</BaseLayout>
