---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "Tanycyte Heterogeneity - David Lopez Rodriguez">


<div>
          <div class="text-3xl w-full font-bold mb-2">Heterogeneity and plasticity of ependymoglial cells during energy imbalance</div>
        </div>

     

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/heterogeneity.png" target="_blank" class="mx-3" aria-label="Tanycyte Heterogeneity" title="Tanycyte Heterogeneity">
				<img src="/heterogeneity.png" alt="Tanycyte Heterogeneity" width="800" height="800"> </img>
			</a>
</div>


 <div class="py-4">
 <text class="text-lg">
 
 
  <p align="center">  
  <br>
  
  <b> ... BioRxiv preprint comming soon ...</b> </p>
  <p align="justify">  


 
 <p align="justify">  
 <br>

  <b>Authors.</b> <i>Maxime Brunner, David Lopez-Rodriguez, Andrea Messina, Bernard Thorens, Federico Santoni, Fanny Langlet.</i></p>

  
  <p align="justify">  
 <br>
  
 

 <b>Summary.</b>
 The ependyma lining the third ventricle (3V) in the mediobasal hypothalamus is nowadays recognized as a critical player in controlling energy 
 balance and glucose homeostasis. Composed of molecularly distinct cell types, including diverse tanycyte subpopulations and typical ependymal 
 cells, defining their gene expression profile and dynamics could uncover potential pathways involved in metabolic regulation.  </p>
 <p align="justify">  
 <br>

Here, we catalog ependymal cell types using FACS-associated single-cell RNA sequencing in different metabolic conditions. By profiling gene 
expression in 13 121 individual cells from fed, 12h-fasted, and 24h-fasted adult male mice, we identified novel markers and functions for 
ependymal cell subpopulations along the 3V. Regarding tanycytes, specific inferred interactions with neurons were confirmed using electron 
microscopy and immunohistochemistry. Additionally, fasting at 12h and 24h dynamically modulates gene expression leading to a cellular metabolic 
switch and increasing tanycyte subgroup heterogeneity, calling into question their current classification. Thus, we propose to reclassify the 
ependymal cells based on dynamic gradients calculated through pseudospatial analyses along the 3V. </p>
 <p align="justify">  
 <br>
Altogether, this data provides a mechanism through which energy status leads to distinct cell type-specific responses in the 3V and gives new 
insights into molecular diversity underlying tanycyte classification. </p>
 
 
 

 


 <p align="justify"> 
<br>
Project ongoingd at the <a href="https://wp.unil.ch/langletlab/" target="_blank"><i>laboratory of Prof. Fanny Langlet</i></a>  
(Department of Biomedical Sciences, University of Lausanne, Switzerland).</p></text>
</div>


 
</BaseLayout>
