---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "Tanycyte Ontogeny - David Lopez Rodriguez">


<div>
          <div class="text-3xl w-full font-bold mb-2">The ontogeny of ependymoglial cells</div>
        </div>

     

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/ontogeny3.png" target="_blank" class="mx-3" aria-label="Tanycyte Ontogeny" title="Tanycyte Ontogeny">
				<img src="/ontogeny3.png" alt="Tanycyte Ontogeny" width="800" height="800"> </img>
			</a>
</div>


 <div class="py-4"> <text class="text-lg">
 
 
  <p align="justify">  
 <br>
  
 

 <b>Summary.</b> During hypothalamic development, the germinative neuroepithelium gives birth to diverse neural cells that regulate numerous 
 physiological functions in adulthood.</p>
 <p align="justify">  
 <br>

Here, we studied the ontogeny of ependymal cells in the mouse mediobasal hypothalamus using the BrdU approach and publicly available 
single-cell RNAseq datasets.</p>
 <p align="justify">  
 <br>

We observed that while typical ependymal cells are mainly produced at E13, tanycyte birth depends on time and subtypes and lasts 
up to P8. Typical ependymocytes and β tanycytes are the first to arise at the top and bottom of the dorsoventral axis around E13, whereas 
α tanycytes emerge later in development, generating an outside-in dorsoventral gradient along the third ventricle. Additionally, α tanycyte 
generation displayed a rostral-to-caudal pattern. Finally, tanycytes mature progressively until they reach transcriptional maturity between 
P4 and P14.</p>
 <p align="justify">  
 <br>

Altogether, this data shows that ependyma generation differs in time and distribution, highlighting the heterogeneity of the 
third ventricle.
<br></p>
 <p align="justify">  


 

  </div>


<p align="justify"> <br>
This project was held at the <a href="https://wp.unil.ch/langletlab/" target="_blank"><i>laboratory of Prof. Fanny Langlet</i></a>  
(Department of Biomedical Sciences, University of Lausanne, Switzerland).
<br>
</p>

 

  <p align="justify">  
  <br>
 <b>Related publication</b> </p>
  <div class="text-lg"><font size="3"><p align="justify"><a href="https://www.frontiersin.org/articles/10.3389/fendo.2022.1073759/full" target="_blank">   <u>Lopez-Rodriguez D</u>, Rohrbach A, Lanzillo M, Gervais M, Croizier S, Langlet F.<i> Ontogeny of ependymoglial cells lining the third ventricle in mice.</i> <b>Frontiers in Endocrinology</b>. 2023 Jan 5; 13:1073759  </div>
 </font></p></a><br>

   </p> </text>

 
</BaseLayout>
