---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "EDC Mixtures - David Lopez Rodriguez">


<div>
          <div class="text-3xl w-full font-bold mb-2">The transgenerational reproductive effects of mixtures of Endocrine Disrupting Chemicals</div>
        </div>

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/EDCs_review.png" target="_blank" class="mx-3" aria-label="EDC Mixtures" title="EDC Mixtures">
				<img src="/EDCs_review.png" alt="EDC Mixtures" width="800" height="800"> </img>
			</a>
</div>


 <div class="py-4"> <text class="text-lg">
 
 
  
  <p align="justify">  
 <br>
 <b>Background</b>: The effects of endocrine-disrupting chemicals (EDCs) on fertility and reproductive development represent a rising 
 concern in modern societies. Although the neuroendocrine control of sexual maturation is a major target of EDCs, little is known about the 
 potential role of the hypothalamus in puberty and ovulation disruption transmitted across generations. </p>
  <p align="justify">  
 <br>
<b>Objectives</b>: We hypothesized that developmental exposure to an environmentally relevant dose of EDC mixture could induce multi- and/or 
transgenerational alterations of sexual maturation and maternal care in female rats through epigenetic reprograming of the hypothalamus. 
We investigated the transmission of a disrupted reproductive phenotype via the maternal germline or via nongenomic mechanisms involving 
maternal care. </p>
 <p align="justify">  
 <br>
<b>Methods</b>: Adult female Wistar rats were exposed prior to and during gestation and until the end of lactation to a mixture of the following 13 
EDCs: di-n-butyl phthalate (DnBP), di(2-ethylhexyl) phthalate (DEHP), bisphenol A (BPA), vinclozolin, prochloraz, procymidone, linuron, 
epoxynaxole, dichlorodiphenyldichloroethylene, octyl methoxynimmate, 4-methylbenzylidene camphor (4-MBC), butylparaben, and acetaminophen. 
Perinatally exposed offspring (F1) were mated with unexposed males to generate germ cell (F2) and transgenerationally exposed (F3 and F4) 
females. Sexual maturation, maternal behavior, and hypothalamic targets of exposure were studied across generations. </p>
 <p align="justify">  
 <br>
<b>Results</b>: Germ cell (F2) and transgenerationally (F3) EDC-exposed females, but not F1, displayed delayed pubertal onset and altered folliculogenesis.
We reported a transgenerational alteration of key hypothalamic genes controlling puberty and ovulation (Kiss1, Esr1, and Oxt), and we identified the
hypothalamic polycomb group of epigenetic repressors as actors of this mechanism. Furthermore, we found a multigenerational reduction of maternal 
behavior (F1-F3) induced by a loss in hypothalamic dopaminergic signaling. Using a cross-fostering paradigm, we identified that the reduction in 
maternal phenotype was normalized in EDC-exposed pups raised by unexposed dams, but no reversal of the pubertal phenotype was achieved. </p>
 <p align="justify">  
 <br>
<b>Discussion</b>: Rats developmentally exposed to an EDC mixture exhibited multi- and transgenerational disruption of sexual maturation and maternal 
care via hypothalamic epigenetic reprogramming. These results raise concerns about the impact of EDC mixtures on future generations.

 </p>
 
  <p align="justify">  
 <br>
 This project was held at the <a href="https://www.giga.uliege.be/cms/c_4113283/en/giga-directory?uid=u187924/" target="_blank"><i>laboratory of Prof. Anne-Simone Parent</i></a>
 (GIGA-Neuroscience, University of Liege, Belgium).</p>


  
  <p align="justify">  
 <br>
 <b>Related publications</b> </p>
 <div class="text-lg"><font size="3"><p align="justify"><a href="https://ehp.niehs.nih.gov/doi/10.1289/EHP8795" target="_blank"> <u>Lopez-Rodriguez D</u>, Aylwin CF, Delli V, Sevrin E, Campanile M, Martin M, Franssen D, Gérard A, Blacher S, Tirelli E, Noël A, Lomniczi A, Parent AS. <i>Multi- and Transgenerational Outcomes of an Exposure to a Mixture of Endocrine-Disrupting Chemicals (EDCs) on Puberty and Maternal Behavior in the Female Rat.</i> <b>Environ Health Perspect</b>. 2021 Aug;129(8):87003  </div>
  </font></p></a><br>
  
   <div class="text-lg"><font size="3"><p align="justify"><b>  - Associated Invited Perspective Article:</b><a href="https://ehp.niehs.nih.gov/doi/10.1289/EHP9560" target="_blank">  Levin, ED <i>Invited Perspective: Does Developmental Adaptation Pose Risks with Changing Toxicant Exposures?</i> <b>Environ Health Perspect</b>. 2021 Aug;129(8)  </div>
  </font></p></a><br>


   <div class="text-lg"> <font size="3"><p align="justify"><a href="https://www.nature.com/articles/s41574-020-00436-3" target="_blank"><u>Lopez-Rodriguez D</u>, Franssen D, Bakker J, Lomniczi A, Parent AS. <i>Cellular and molecular features of EDC exposure: consequences for the GnRH network.</i> <b>Nature Reviews Endocrinology</b>. 2021 Feb;17(2):83-96  </div>
  </font></p></a><br>


 

 </p> </text>
 </div>




 



 
</BaseLayout>
