---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title = "Bisphenol A - David Lopez Rodriguez">
<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-T3S8LY51Z2"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T3S8LY51Z2');
</script>
<div>
          <div class="text-3xl w-full font-bold mb-2">The effects of the Endocrine Disruptor Bisphenol A on puberty and reproduction</div>
        </div>

</div>


<div class="social-icons px-6 my-2 py-2 flex">
		<a href="/BPA2.png" target="_blank" class="mx-3" aria-label="BPA" title="BPA">
				<img src="/BPA2.png" alt="BPA" width="800" height="800"> </img>
			</a>
</div>


 <div class="py-4"> <text class="text-lg">
 
 
  
  <p align="justify">  
 <br>
 <b>Summary</b>. Exposure to bisphenol A (BPA), a ubiquitous endocrine-disrupting chemical (EDC), is known to produce variable effects on female 
 puberty and ovulation. This variability of effects is possibly due to differences in dose and period of exposure. Little is known about the 
 effects of adult exposure to environmentally relevant doses of this EDC and the differences in effect after neonatal exposure. This study sought 
 to compare the effects of neonatal vs adult exposure to a very low dose or a high dose of BPA for 2 weeks on ovulation and folliculogenesis and 
 to explore the hypothalamic mechanisms involved in such disruption by BPA. One-day-old and 90-day-old female rats received daily subcutaneous 
 injections of corn oil (vehicle) or BPA (25 ng/kg/d or 5 mg/kg/d) for 15 days. Neonatal exposure to both BPA doses significantly disrupted the 
 estrous cycle and induced a decrease in primordial follicles. Effects on estrous cyclicity and folliculogenesis persisted into adulthood, consistent
 with a disruption of organizational mechanisms. During adult exposure, both doses caused a reversible decrease in antral follicles and corpora 
 lutea. A reversible disruption of the estrous cycle associated with a delay and a decrease in the amplitude of the LH surge was also observed. 
 Alterations of the hypothalamic expression of the clock gene Per1 and the reproductive peptide phoenixin indicated a disruption of the hypothalamic 
 control of the preovulatory LH surge by BPA.</p>
 
 
  <p align="justify">  
 <br>
 This project was held at the <a href="https://www.giga.uliege.be/cms/c_4113283/en/giga-directory?uid=u187924/" target="_blank"><i>laboratory of Prof. Anne-Simone Parent</i></a>
 (GIGA-Neuroscience, University of Liege, Belgium).</p>


  
  <p align="justify">  
 <br>
 <b>Related publication</b> </p>
  <div class="text-lg"><font size="3"> <p align="justify"><a href="https://academic.oup.com/endo/article/160/11/2558/5565236?login=false" target="_blank"><u>Lopez-Rodriguez D</u>, Franssen D, Sevrin E, Gérard A, Balsat C, Blacher S, Noël A, Parent AS. <i>Persistent vs Transient Alteration of Folliculogenesis and Estrous Cycle After Neonatal vs Adult Exposure to Bisphenol A.</i> <b>Endocrinology</b> 160, 2558–2572 (2019) </div>
 </font></p></a><br>

 

 </p> </text>
 </div>




 



 
</BaseLayout>
