---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects - David Lopez Rodriguez">
<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-T3S8LY51Z2"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T3S8LY51Z2');
</script>

 <div>
          <div class="text-3xl w-full font-bold mb-2">Current projects </div>
        </div>

        <HorizontalCard
        title="Multi-Omics Approaches to Evaluate the Neurotoxicity of Propylene Glycol Ether Solvents"
        img="/p12b.png"
        desc="Keywords: Bioinformatics, BrainSpheres In vitro Models, NAMs, Lipidomics, Metabolomics, Proteomics, Transcriptomics, Toxicology, Benchmark Dose (BMD), Adverse outcome pathways (AOPs), Solvents "
        id="p12" 
        url="/p12/"
      />


 
      <div class="divider my-0"></div>


        <HorizontalCard
          title="An Integrative Tool to Identify and Prioritze the Risk Asessment of Endocrine Disrupting Chemicals (EDCs)"
          img="/Tmap.png"
          desc="Keywords: Endocrine Disruption, Toxicology, In Silico, Machine Learning, NAMs, Chemo-informatics, Adverse outcome pathways (AOPs)"
          id="p1" 
          url="/p1/"
        />
        
        <div class="divider my-0"></div>
        <HorizontalCard
          title="HypCCAtlas, A Functional Hypothalamic Atlas of Cell-Cell Communication"
          img="/Network.png"
          desc="Keywords: Bioinformatics, Nutrition, Energy balance, Connectomics, Hypothalamus, Neuroendocrinology"
          id="p13" 
          url="/p13/"
        />
        <div class="divider my-0"></div>

        <HorizontalCard
        title="Identification of Health Risks faced by Nail Salons Workers"
        img="/HealthHazard.jpg"
        desc="Keywords: Toxicology, Solvents, Nail Salons, Occupational Health, Public Health, Systematic Review"
        id="p12" 
        url="/"
      />
      <div class="divider my-0"></div>
  
      <HorizontalCard
      title="Association between Bisphenol A and Autism Spectrum Disorders (ASD)"
      img="/BPA3.png"
      desc="Keywords: Public Health, Systematic Review, Meta-Analysis, Endocrine Disrupting Chemicals"
      id="p12" 
      url="/"
    />

    <br>
        <br>
</div>

<div>
          <div class="text-3xl w-full font-bold mb-2">Past projects </div>
        </div>
        <div class="divider my-0"></div>
        <HorizontalCard
        title="Pesticide Exposure Assessment of the Swiss Sensitive Population"
        img="/p11b.png"
        desc="Keywords: Epidemiology, Pesticides, Toxicology, Exposure Assessment, Exposure Mixtures, Endocrine Disruptors"
        id="p11" 
        url=""
      />        <div class="divider my-0"></div>
       <HorizontalCard
          title="Deciphering the heterogeneity and plasticity of ependymoglial cells during energy imbalance"
          img="/Pseudospatial.png"
          desc="Keywords: Neurosciences, Energy balance, Bioinformatics, Connectomics, Hypothalamus, Neuroendocrinology"
          id="p3" 
          url="/p3/"
        />
        <div class="divider my-0"></div>

         <HorizontalCard
          title="The ontogeny of ependymoglial cells"
          img="/onto2.png"
          desc="Keywords: Neuroendocrinology, Neuroscience, Bioinformatics, Hypothalamus, Development"
          id="p4" 
          url="/p4/"
        />
        <div class="divider my-0"></div>
        <HorizontalCard
                  title="An Adverse Outcome Pathway (AOP) for disrupted female pubertal onset to improve testing and regulation of endocrine disrupting chemicals"
                  img="/AOP.png"
                  desc="Keywords:  Adverse outcome pathway, Endocrine Disruption, Puberty, Reproduction, Risk Assessment"
                  id="p5" 
                  url="/p5/"
                />
        <div class="divider my-0"></div>
        <HorizontalCard
                  title="Placental biomarkers of a developmental exposure to the Endocrine Disruptor Bisphenol S"
                  img="/Placenta.png"
                  desc="Keywords: Endocrine Disruption, Toxicology, Placenta, Reproduction, Bioinformatics"
                  id="p6" 
                  url="/p6/"
                />
        <div class="divider my-0"></div>
        <HorizontalCard
                  title="Cellular and molecular features of EDC exposure"
                  img="/nature.png"
                  desc="Keywords: Endocrine Disruption, Toxicology, Neuroendocrinology, Reproduction, GnRH"
                  id="p7" 
                  url="/p7/"
                />
        <div class="divider my-0"></div>
        <HorizontalCard
                  title="The transgenerational reproductive effects of mixtures of Endocrine Disrupting Chemicals"
                  img="/epigenetics.png"
                  desc="Keywords: Endocrine Disruption, Toxicology, Neuroendocrinology, Reproduction, GnRH, Puberty, Maternal Behavior"
                  id="p8" 
                  url="/p8/"
                />
        <div class="divider my-0"></div>
        <HorizontalCard
                  title="The effects of the Endocrine Disruptor Bisphenol A on puberty and reproduction"
                  img="/BPA.png"
                  desc="Keywords: Endocrine Disruption, Toxicology, Neuroendocrinology, Reproduction, GnRH, Puberty"
                  id="p9" 
                  url="/p9/"
                />
        <div class="divider my-0"></div>
        <HorizontalCard
                  title="The prevalence of the Attention Deficit Hyperactivity Disorder in the Canary Island"
                  img="/head.jpg"
                  desc="Keywords: Psychology, Epidemiology, ADHD, Psychiatric Disorders"
                  id="p10" 
                  url="/p10/"
                />

</div>


 
</BaseLayout>
