---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<!--  > <style>
  html {
   scroll-behavior: smooth;
       }
   
</style>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" >
 $(document).on('click', 'a[href^="#"]', function (event) {
   event.preventDefault();

   $('html, body').animate({
       scrollTop: $($.attr(this, 'href')).offset().top
   }, 500);
 });
</script>

-->



<BaseLayout title = "Publications - David Lopez Rodriguez">

    <div style="text-align:center">

      <nav style="background:#F2F7FF;">
          <a>  |  </a> 
           
            <a href="#section1"><b>Manuscripts in preparation  </b></a>    <a>  |  </a> 
            <a href="#section2"><b>Peer-reviewed Scientific Articles</b></a>    <a>  |  </a> 
            <a href="#section3"><b>Preprints & Non-peer Reviewed Articles</b></a>    <a>  |  </a> 
      </nav>

      <nav style="background:#F2F7FF;"><a>  |  </a>
            <a href="#section4" class="mb-5 text-justify"><b>PhD Thesis</b></a> <a>  |  </a>     
            <a href="#section5"><b>Press Releases</b></a>    <a>  |  </a> 
            <a href="#section6"><b>Articles in the General Press</b></a>    <a>  |  </a> 
            <a href="#section7"><b>Master's Student Supervision</b></a>    <a>  |  </a> 
      </nav>

  </div>
      <div style="line-height:60%;"> <br></div>
      <hr> 
      <div style="line-height:20%;"> <br></div>



 

 <section id="section1"></section>
     <div class="text-2xl w-full font-bold mb-0 mt-10">Manuscripts in Preparation / Under Review <font size="2"> (as of 03/24) </font>  <hr>  </div>
 
      <div style="line-height:50%;"> <br></div>

      <ul class="list-disc mx-6 mb-10 grid gap-2">

      <li><div class="text-lg"> <p align="justify"> Pamies D, <u>Lopez-Rodriguez D</u>, Bertoli J, Meister I, Jornod N, Repond C, Boccard J, Fleurimont J, Nunes C, Rudaz S, Zurich MG. <i> Evaluation of the Neurotoxicity of Glycol Ether Solvents in Humans Using New Approach Methodologies (NAMs). </i> <b> Manuscripts in Preparation. </b> </p> </div></li>
      
      <li><div class="text-lg"> <p align="justify"> <u>Lopez-Rodriguez D</u> & Guerrero-Limon, G. <i> Harnessing the power of Artificial Intelligence (AI) to generate innovative New Alternative Methodologies (NAMs) to improve chemical regulatory risk assessment.</i> Manuscripts in Preparation. </p> </div>
      </li>
      <li><div class="text-lg"> <p align="justify"> Fudvoye J, <u>Lopez-Rodriguez D</u> Parent AS. <i> Early placental biomarkers of a developmental exposure to a very low dose of BPS.</i> Manuscripts in Preparation. </p> </div>
      </li>

      </ul>
      











<section id="section2"></section>
    <div class="text-2xl w-full font-bold mb-0 mt-10">Peer-reviewed Scientific Articles<hr> </div>
    <div style="line-height:50%;"> <br></div>


    <ul class="list-disc mx-6 mb-10 grid gap-2">

      <li><div class="text-lg"> <p align="justify"> Brunner M*, <u>Lopez-Rodriguez D</u>*, Estrada-Meza J, Dali J, Rohrbach A, Deglise T, Messina A, Thorens B, Santoni F, Langlet F. <i> Fasting induces a metabolic switch and a spatial redistribution of tanycyte functions on lipid processing and neuronal interactions. </i> <b>   Under Review in Nature Communications. </b> </p> </div></li>
      <div class="text-lg"> <p align="justify" style="margin-left: 20px"> <b> &#8594; *Co-first authorship</b></p> </div>
      
      <li><div class="text-lg"> <p align="justify"><a href="https://www.nature.com/articles/s41574-020-00436-3" target="_blank"><u>Lopez-Rodriguez D</u>, Franssen D, Bakker J, Lomniczi A, Parent AS. <i>Cellular and molecular features of EDC exposure: consequences for the GnRH network.</i> <b>Nature Reviews Endocrinology</b>. 2021 Feb;17(2):83-96  </div>
      </p></a></li>
      <li>  <div class="text-lg"><p align="justify"><a href="https://ehp.niehs.nih.gov/doi/10.1289/EHP8795" target="_blank">  <u>Lopez-Rodriguez D</u>, Aylwin CF, Delli V, Sevrin E, Campanile M, Martin M, Franssen D, Gérard A, Blacher S, Tirelli E, Noël A, Lomniczi A, Parent AS. <i>Multi- and Transgenerational Outcomes of an Exposure to a Mixture of Endocrine-Disrupting Chemicals (EDCs) on Puberty and Maternal Behavior in the Female Rat.</i> <b>Environ Health Perspect</b>. 2021 Aug;129(8):87003  </div>
      </p></a></li>
      <div class="text-lg"><p align="justify" style="margin-left: 20px"><a href=" https://ehp.niehs.nih.gov/curated-collections/eds-choice-2021" target="_blank"> &#8594; Article selected as one of the 15 papers in the 2021 EHP Editors' Choice Collection. </div>
      </p></a>
       <div class="text-lg"><p align="justify" style="margin-left: 20px"><a href="https://ehp.niehs.nih.gov/doi/10.1289/EHP9560" target="_blank"> &#8594; <b> Associated Invited perspective article</b>: Levin E. <i> Does Developmental Adaptation Pose Risks with Changing Toxicant Exposures?</i> Environ Health Perspect. 2021. Vol. 129, No. 8.   </div>
      </p></a>
 
      <li><div class="text-lg"><p align="justify"><a href="https://www.frontiersin.org/articles/10.3389/fendo.2022.1073759/full" target="_blank">  <u>Lopez-Rodriguez D</u>, Rohrbach A, Lanzillo M, Gervais M, Croizier S, Langlet F.<i> Ontogeny of ependymoglial cells lining the third ventricle in mice.</i> <b>Frontiers in Endocrinology</b>. 2023 Jan 5; 13:1073759  </div>
      </p></a></li>
      <li><div class="text-lg"> <p align="justify"><a href="https://academic.oup.com/endo/article/160/11/2558/5565236?login=false" target="_blank"><u>Lopez-Rodriguez D</u>, Franssen D, Sevrin E, Gérard A, Balsat C, Blacher S, Noël A, Parent AS. <i>Persistent vs Transient Alteration of Folliculogenesis and Estrous Cycle After Neonatal vs Adult Exposure to Bisphenol A.</i> <b>Endocrinology</b> 160, 2558–2572 (2019) </div>
      </p></a></li>
      <li><div class="text-lg"><p align="justify"><a href="https://www.sciencedirect.com/science/article/abs/pii/S1521690X21000968" target="_blank"> <u>Lopez-Rodriguez D</u>, Franssen D, Heger S, Parent AS. <i>Endocrine-disrupting chemicals and their effects on puberty </i> <b>Best Pract Res Clin Endocrinol Metab</b>. 2021 Sep;35(5):101579 </div>
      </p></a></li>
      <li><div class="text-lg"><p align="justify"><a href="https://www.sciencedirect.com/science/article/pii/S1521690X1930051X?via%3Dihub" target="_blank"> Fudvoye J, <u>Lopez-Rodriguez D</u>, Franssen D, Parent AS. <i>Endocrine disrupters and possible contribution to pubertal changes.</i> <b>Best Pract Res Clin Endocrinol Metab</b>. 2019 Jun;33(3):101300</div>
      </p></a></li>
      <li><div class="text-lg">  <p align="justify"> <a href="https://www.frontiersin.org/articles/10.3389/fendo.2023.1140886/full" target="_blank">  Franssen D, Johansson H, <u>Lopez-Rodriguez D</u>, Lavergne A, Terwagne Q, Boberg J, Christiansen S, Svingen T, Parent AS. <i> Perinatal exposure to the fungicide ketoconazole alters hypothalamic control of puberty in female rats. </i> <b>Frontiers in Endocrinology</b>. 2023. April 3; 14.  </div>
      </p></a></li>
      <li><div class="text-lg"><p align="justify"><a href=" https://www.karger.com/Article/FullText/515478" target="_blank"> Franssen D, Svingen T, <u>Lopez-Rodriguez D</u>, Van Duursen M, Boberg J, Parent AS.<i> A putative adverse outcome pathway network for disrupted female pubertal onset to improve testing and regulation of endocrine disrupting chemicals.</i> <b>Neuroendocrinology</b>. 2021 Feb 26 </div>
      </p></a></li>
      <li><div class="text-lg"> <p align="justify"><a href="https://pubmed.ncbi.nlm.nih.gov/25017494/" target="_blank">Sanchez CR, Ramos C, Díaz F, <u>Lopez D</u>. <i>Attention-Deficit/Hyperactivity Disorder: prevalence of risk in the scholastic scope of the Canary islands.</i> <b>Actas Esp Psiquiatr</b> 42, 169–175 (2014) </div>
      </p></a></li>

    </ul>



 <section id="section3"></section>
   <div class="text-2xl w-full font-bold mb-0 mt-10">Preprints &  Non-peer Reviewed Articles <hr></div>
   <div style="line-height:50%;"> <br></div>
   <ul class="list-disc mx-6 mb-10 grid gap-2">

    <li>  <div class="text-lg"> <p align="justify"> <a href="https://www.biorxiv.org/content/10.1101/2023.07.06.547914v1" target="_blank"> Brunner M*, <u>Lopez-Rodriguez D</u>*, Messina A, Thorens B, Santoni F, Langlet F. <i> Pseudospatial transcriptional gradient analysis of hypothalamic ependymal cells challenges tanycyte classification. Submitted to Nature Communications. </i> <b>BioRxiv preprint. </b> </a>  </p> </div>
    </li>
    <div class="text-lg"> <p align="justify" style="margin-left: 20px"> <b> &#8594; *Co-first authorship</b></p> </div>

    <li>  <div class="text-lg"> <p align="justify"> <a href="https://www.biorxiv.org/content/10.1101/2020.06.26.172965v1" target="_blank">  <u>Lopez-Rodriguez D</u>, Francisco Aylwin C,  Delli V, Sevrin E,  Campanile M,  Martin M, Franssen D, Gérard A, Blacher S, Tirelli E, Noël A, Lomniczi A, Parent AS.   <i> Multi- and transgenerational disruption of maternal behavior and female puberty by Endocrine Disrupting Chemical (EDC) mixture exposure </i>
 <b>BioRxiv preprint. </b> </a>  </p> </div>
    </li>


    <li> <div class="text-lg"><p align="justify"><u>Lopez-Rodriguez D</u>.<i> An Environmental History Perspective on Sustainable Economic Growth. May 13, 2023. </i>
    </li>

    </ul>
    

 </p>



  <section id="section4"></section>
  <div> 
    <div class="text-2xl w-full font-bold mb-0">PhD Thesis<hr></div> 
    <div style="line-height:50%;"> <br></div>

  </div>



      <p align="justify">
        <a href=" " target="_blank">
          <text class="text-lg"> 
            <u>Lopez-Rodriguez D</u>. 
            <i>Direct, multi- and transgenerational effects of endocrine disruptors on maternal behavior and female sexual maturation.</i> 
            GIGA-Neurosciences. University of Liège. Advisor: Prof. Anne-Simone Parent. </text>
        </a>
      </p>
     <!--  >
      <a href="https://drive.google.com/file/d/1krHdJQaA7Nar19DszodyQN1ibO5Vkfa7/view?usp=share_link" target="_blank">
          <text class="text-lg"> 
            <b>Download</b> 
          </text>
      </a> -->



  <section id="section5"></section>
    <div class="text-2xl w-full font-bold mb-0 mt-10">Press Releases <hr></div>
    <div style="line-height:50%;"> <br></div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
          <li>  <a class="text-lg" href="https://assets-global.website-files.com/6543c26983f71e6ff11cd4ed/65e6959467817e63e77710c2_20230304%20PR%20PEASSP%20Fr.pdf"><i> Pesticide Monitoring Study</i></a>
          </li>
          <li>  <a class="text-lg" href="https://www.endocrine-abstracts.org/ea/0063/ea0063oc8.3"><i>Endocrine society</i></a>
          </li>
          <li>   <a class="text-lg" href="https://www.endocrine-abstracts.org/ea/0063/ea0063oc8.3"><i>University of Liege</i></a>
          </li>
      </ul>

      <section id="section6"></section>
          <div class="text-2xl w-full font-bold mb-0 mt-10">Articles in the General Press<hr></div>
  

          
          <p align="justify"></p>

          <div class="social-icons px-6 my-2 py-2 flex">
              <a href="https://dailyscience.be/20/05/2019/les-perturbateurs-endocriniens-ont-un-impact-sur-la-reproduction-pendant-plusieurs-generations/" target="_blank" class="mx-3" aria-label="DailyScience" title="DailyScience">
                <img src="/Press.png" alt="DailyScience" width="1200" height="1000"> </img>
              </a>
          </div>
          <div class="text-lg">
            <p align="justify">
                        <a class="text-lg" href="https://www.letemps.ch/sciences/infertilite-pesticides-mis-cause"> Le Temps,</a>
                        <a class="text-lg" href="https://www.lavanguardia.com/vida/20190520/462341188690/las-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras.html"> La Vanguardia,</a>
                        <a class="text-lg" href="https://dailyscience.be/20/05/2019/les-perturbateurs-endocriniens-ont-un-impact-sur-la-reproduction-pendant-plusieurs-generations/"> Daily science,</a>
                        <a class="text-lg" href="https://www.lecho.be/economie-politique/belgique/general/les-polluants-chimiques-perturbent-plusieurs-generations/10128766.html"> L’echo,</a>
                        <a class="text-lg" href="https://www.eurekalert.org/news-releases/606628"> AAAS EurekAlert,</a>
                        <a class="text-lg" href="https://www.yourhormones.info/news/item/13365/max-perutz-science-writing-award-winner-announced"> Yourhormones,</a>
                        <a class="text-lg" href="https://www.newswise.com/articles/endocrine-disruptors-alter-female-reproduction-throughout-multiple-generations"> Newswise,</a>
                        <a class="text-lg" href="https://www.cambialaterra.it/2019/03/interferenti-endocrini-i-danni-si-trasmettono-per-4-generazioni/"> Cambia La Terra,</a>
                        <a class="text-lg" href="https://inews.co.uk/news/health/why-exposure-to-everyday-chemicals-could-reduce-your-grandchildrens-fertility-272897"> iNews,</a>
                        <a class="text-lg" href="https://medicalxpress.com/news/2019-03-endocrine-disruptors-female-reproduction-multiple.html"> MedicalExpress,</a>
                        <a class="text-lg" href="https://notiziescientifiche.it/sostanze-tossiche-immesse-nellambiente-danneggiano-sistema-endocrino-e-fertilita/"> Notizie scientifiche,</a>
                        <a class="text-lg" href="https://www.infosalus.com/salud-investigacion/noticia-contaminacion-pueden-perjudicar-fertilidad-generaciones-futuras-20190520075734.html"> Infosalus,</a>
                        <a class="text-lg" href="https://www.business-standard.com/article/pti-stories/environmental-toxins-may-impair-fertility-of-future-generations-study-119052000276_1.html"> Business Standard,</a>
                        <a class="text-lg" href="https://fit.thequint.com/health-news/environmental-pollutants-affect-fertility-in-future-generations-study"> Fit the quint,</a>
                        <a class="text-lg" href="https://www.sciencemediacentre.org/expert-reaction-to-conference-abstract-unpublished-work-on-environmental-toxins-and-fertility-of-future-generations/"> Science Media Center,</a>
                        <a class="text-lg" href="https://afaae.com/africa/how-do-environmental-toxins-affect-sexual-development-and-fertility/"> Afaae,</a>
                        <a class="text-lg" href="https://www.republica.com/2019/05/20/toxinas-ambientales-fertilidad/"> Republica,</a>
                        <a class="text-lg" href="https://www.eltiempo.com/salud/toxinas-ambientales-podrian-alterar-fertilidad-de-generaciones-futuras-364064"> El Tiempo,</a>
                        <a class="text-lg" href="https://www.lapatilla.com/2019/05/19/coge-dato-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras/"> La Patilla,</a>
                        <a class="text-lg" href="https://www.elsiglodetorreon.com.mx/noticia/1578247.toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras.html"> El Siglo,</a>
                        <a class="text-lg" href="https://www.eluniversal.com.mx/ciencia-y-salud/salud/toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras"> El Universal,</a>
                        <a class="text-lg" href="https://www.diariodenavarra.es/noticias/vivir/2019/05/20/toxinas-ambientales-amenazan-generaciones-futuras-651774-3190.html"> Diario de Navarra,</a>
                        <a class="text-lg" href="https://listindiario.com/tecnologia/2019/05/20/566258/las-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras"> Listin Diario,</a>
                        <a class="text-lg" href="https://elveedordigital.com/aseguran-las-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras/"> El vector digital,</a>
                        <a class="text-lg" href="https://www.ultimahora.com/la-contaminacion-puede-alterar-la-fertilidad-generaciones-futuras-n2820398.html"> Ultima Hora,</a>
                        <a class="text-lg" href="http//z101digital.com/las-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras/"> Digital,</a>
                        <a class="text-lg" href="https://www.telemundo.com/node/3252932"> Telemundo,</a>
                        <a class="text-lg" href="https//elveedordigital.com/aseguran-las-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras/"> El vector digital,</a>
                        <a class="text-lg" href="https//www.ultimahora.com/la-contaminacion-puede-alterar-la-fertilidad-generaciones-futuras-n2820398.html"> Ultima Hora,</a>
                        <a class="text-lg" href="http//z101digital.com/las-toxinas-ambientales-pueden-alterar-la-fertilidad-de-generaciones-futuras/"> Digital,</a>
                        <a class="text-lg" href="https//www.telemundo.com/node/3252932"> Telemundo</a>
                </p>
            </div>

      <section id="section7"></section>
          <div class="text-2xl w-full font-bold mb-0 mt-10">Master's Student Supervision <hr>  </div>
          <div style="line-height:50%;"> <br></div>


            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li><p align="justify"><a>Marzia Campanile <i>(role as "co-supervisor")</i>. <b>Effects of lactational and gestational exposure to a polychlorinated biphenyl mixture (Aroclor1254) in the dentate gyrus of POMC-EGFP transgenic mice </b> (2019). GIGA-Neuroscience. University of Liege, Belgium </a> </p></li>
                <li><p align="justify"><a>Virginia Delli <i>(role as "co-supervisor")</i>. <b> Effects of a perinatal exposure to the flame retardant compound BDE-47 on neurogenesis and cognition</b> (2019). GIGA-Neuroscience. University of Liege, Belgium </a> </p></li>
                <li><p align="justify"><a>Eva Luz Lachat <i>(role as "expert")</i>. <b> Bisphenol A and autism spectrum disorder in humans, a systematic review of the literature</b> (2023). University of Lausanne, Switzerland</a> </p></li>
                <li><p align="justify"><a>Anna Dreier <i>(role as "expert")</i>. <b>  Next-generation human iPSC-derived 3D brain systems to study chemical-induced myelin disruption </b> (2023). University of Lausanne, Switzerland </a> </p></li>
                        </ul>

</BaseLayout>
